// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";

@import "restaurants";
@import "reviews";

body {
  background-color: #ffe6ee;
  text-align: center;
}

h1, h2, p {
  font-family: Open Sans, Arial;
  color: #e388a7;
}

a {
  color: #E388A7;
}

a:hover {
  color: #ff99bb;
  text-decoration: none;
}

.card {
  background-color: #F8F8F8;
  color: #ff99bb;
  text-align: center;
  width: 600px;
  padding: 7px;
  margin: 15px;
  border-radius: 20px;
}

.form-stuff {
  width: 500px;
}

.btn-pink {
  border-radius: 10px;
  border: 1px solid #E388A7;
  padding: 5px;
}

.btn-pink:hover {
  color: #E388A7;
  text-decoration: none;
}
